/* Desktop devices */
@media only screen and (min-width: 1440px) {
    body {
        padding: 40px 120px;
    }

    header {
        margin-bottom: 100px;
    }

    .nav-menu {
        display: flex;
    }

    .hero-wrapper {
        display: flex;
        text-align: start;
        justify-content: center;
        align-items: center;
        gap: 100px;
        margin-bottom: 70px;
    }

    .hero-wrapper img {
        display: block;
        width: 600px;
    }

    .company-wrapper {
        flex-direction: row;
        justify-content: space-around;
        margin-bottom: 100px;
    }

    .work-wrapper {
        margin-bottom: 50px;
    }

    .card-wrapper {
        justify-content: center;
        align-items: center;
        gap: 50px;
        margin-bottom: 130px;
    }

    .card {
        width: 350px;
        height: 106px;
    }

    .footer-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 75px;
    }

    .footer-title-wrapper {
        text-align: start;
    }

    .input-group input {
        width: 60%;
    }

    .input-group button {
        margin-left: -50px;
    }
}